@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f4f4f4;
  width: 100%;
  min-height: 100vh;
}
